html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    font-family: 'Work Sans', sans-serif; 
    width: 100%;
    height: 100%;  
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
}
/*navigation*/

.navbar {
    width: 100%;
    padding: 5px 20px;
    position: fixed;
    top: 0px;
    transition: .5s;
    text-align: right;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 5px 35px;
    color: black;
    font-size: 20px;
    cursor: pointer;
    font-weight: 300;
    border-radius: 7px;
    transition: .5s;
}
.navbar ul li:hover {
    background: #EBE0EB;
}

.header {
    width: 100%;
    height: 400px;
    background-image: url('../img/backgroundimage1.jpeg');
    background-size: contain;
    background-size: 100% 400px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h2 {
    text-align: left;
    padding: 22px;
    padding-left: 105;
    margin: 0;
    font-weight: 700;
    position: fixed;
}

h1 {
    position: absolute;
    top: 27%;
    left: 38%;
    color: black;  
    font-size: 16px;
    font-weight: 500;
}
@media only screen and (min-width: 768px) {
    .header {
        height: 650px;
        background-size: 100% 650px;
    }
    h1 {
        font-size: 25px;
        top: 28%;
        left: 41%;
    }

}
@media only screen and (min-width: 1008px) {
    .header {
        height: 820px;
        background-size: 100% 820px;
    }
    h1 {
        font-size: 35px;
        left: 44%;
    }
}


/*about section*/
.about-jump {
    margin-bottom: 85px;
    display: block;
}


.about {
    background: #D8D8D8;
    padding: 40px;
}

h3 {
    text-align: center;
    font-size: 35px;
    text-decoration-line: underline;
    color: black;
}

p{
    font-size: 20px;
}
/*work section*/

.work {
    padding: 40px;
}
h3 {
    padding-bottom: 40px;
}
img {
    display: inline-block;
    height: 400px;
    width: 400px;
    padding-left: 40px;
    padding-right: 40px;
}

.image-container {
    text-align: center;
}

.work-jump {
    margin-bottom: 85px;
    display: block;
}
/*contact section*/
.contact {
    text-align: center;
}
.icon {
    display: inline-block;
    font-size: 35px;
    padding: 20px;
    
}
